#content {
    display: flex;
}

#left {}

#left a {
    color: inherit;
}

#left img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#left #email {
    margin-bottom: 10px;
}

#right {
    margin-top: 20px;
    margin-left: 100px;
}